

<div class="whole">

<div class="asw">
    <!-- <img src="../../../assets/image_1.png" class="rounded-3 " height="45" weight="45"   alt="..."> -->
    <a class="awe navbar-brand  text-black display-1 fs-3"> Create account</a>

</div>
<form>
    <div class="row g-1">
        <div>
          <input type="text" class="form-control col-5 m-1" placeholder="First name" aria-label="First name">
        </div>

        <div>
          <input type="text" class="form-control col-5 m-1" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
      <div class="row">
        <div>
          <input type="email" class="form-control col-5 m-1" placeholder="Email" aria-label="Email">
        </div>
            <div>
                <input type="password" class="form-control col-5 m-1" placeholder="Password" aria-label="Password">
              </div>

        </div>
        
    
        <div class="continue">

            <button type="button" class="btn btn-warning m-5">Continue</button>
        </div>
        
      

   
    
  </form>

</div>