<nav class="navbar navbar-expand-lg  navbar-light bg-black fs-1">
   <div class="container-fluid">

          

            <img src="../../../assets/image_4.png" class="rounded-3 " height="25" weight="25"   alt="..."> 
            <p class=" navbar-brand  text-white p-3 "> Awesome shop</p>
            

        
       
           
         
  
          
            <a  class="bor navbar-brand    text-white p-3 ms-auto  " routerLink="/sign_in">Hello,{{name}}<br>sign in Account</a>
          
            <a class="bor navbar-brand  text-white  " routerLink="basket" class="amount" *ngIf="isLoggIn">
              <span class="basket"><i class="fa fa-shopping-basket" 
                  aria-hidden="true"></i></span>
              <span class="numbera">{{numbera}}</span>
              
           </a>


<!-- 
            <a  class="bor navbar-brand  text-white  " routerLink="/basket"><i class="fa fa-shopping-basket" 
              aria-hidden="true"></i> </a> -->
          
      
  </div>
  </nav>

  <nav class=" druga navbar navbar-expand-lg  navbar-light  ">
   <div class="container-fluid">
      <button class="text-white rounded-3"
       type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbartab" 
        >
        <span class="navbar-toggler-icon">

      </span></button>
      <div class="navbar-collapse collapse   " id="navbartab">
      <ul class="navbar-nav ms-auto me-5 
      ">
     <li   class="nav-item ">  <a  class="navbar-brand dropdown-item nav-link text-white  display-6" routerLink="/read"> Books</a></li>   
       <li class="nav-item"> <a  class="navbar-brand dropdown-item nav-link text-white display-6 " routerLink="/best_sellers">Best Sellers & more  </a></li>    
      <li class="nav-item"><a  class="navbar-brand dropdown-item nav-link text-white  display-6 " routerLink="/text_books">Text Books </a></li>   
       <li class="nav-item"> <a  class="navbar-brand nav-link dropdown-item nav-link text-white   display-6" routerLink="/textbook_rentals">
         Textbook Rentals </a></li>      




      </ul>
     </div>                  
    </div>
  
   
  </nav>
  
  
