


.druga{
    background-color:#232F3E ;
    
}




  ul li a:hover {
    border:1px solid white;
  }
  .bor:hover {
    border:1px solid white;
  }

  .butt_wh{
    display: none;

  }

@media screen and (max-width: 1000px) {
      
         .butt_wh{

          display: block;
         }
         
          
        }

 