<nav class="navbar navbar-expand-lg  navbar-light bg-black display-6">
   <div class="container-fluid ">
         <div>
            <img src="../../../assets/image_2.jpg"  height="45" weight="45"   alt="...">
           <a class="awe navbar-brand  text-white " routerLink="/awesome_shop"> Awesome shop</a>
           
         </div>
  
            
           <a  class="bor navbar-brand ms-auto   text-white " routerLink="/sign_in">Hello,<br>sign in Account</a>
           <a  class="bor navbar-brand  text-white  " routerLink="/basket">Basket </a>
          
  
    
  
  
       
              
      
  </div>
  </nav>

  <nav class=" druga navbar navbar-expand-lg  navbar-light  ">
   <div class="container-fluid">
      <button class="text-white"
       type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbartab"
        >
        <span class="navbar-toggler-icon">

      </span></button>
      <div class="navbar-collapse collapse   " id="navbartab">
      <ul class="navbar-nav ms-auto me-5 
      ">
     <li   class="nav-item ">  <a  class="navbar-brand dropdown-item nav-link text-white  display-6" routerLink="/books"> Books</a></li>   
       <li class="nav-item"> <a  class="navbar-brand dropdown-item nav-link text-white display-6 " routerLink="/best_sellers">Best Sellers & more  </a></li>    
      <li class="nav-item"><a  class="navbar-brand dropdown-item nav-link text-white  display-6 " routerLink="/text_books">Text Books </a></li>   
       <li class="nav-item"> <a  class="navbar-brand nav-link dropdown-item nav-link text-white   display-6" routerLink="/textbook_rentals">Textbook Rentals </a></li>      




      </ul>
   </div>    
          
          
  
    
  
  
       
              
      
  </div>
  </nav>

  



  
