<div class="main">

    <label>First Name</label>
    <input class="text"    type="text" name="firstName" [(ngModel)]="firstName" />
    <label>Last Name</label>
    <input class="text" type="text" name="lastName" [(ngModel)]="lastName" />
    <label>Address</label>
    <input class="text"type="text" name="address" [(ngModel)]="address" />
    <label>City</label>
    <input class="text"type="text" name="city" [(ngModel)]="city" />
    <label>Phone Number</label>
    <input class="text" type="text" name="phoneNumber" [(ngModel)]="phoneNumber" />
    <button class="submit" (click)="submitOrder()">Submit</button>
</div>

