.sign_in{
    padding: 10px 0px 10px 70px;
}
.mb-3{
    padding: 10px 0px 10px 70px;
    


}
.form-control{
    width: 300px;
}
.login {
    
    margin:0px 0px 10px 70px;
}
.cust{
    margin-left:70px;
}
.logout{
    margin-left: 270px;
}
