/* .products {
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
    
}
   */
    /* .products-item {
        width: 24%;
        margin-top: 12px;
        font-size: 10px;
      
    } */
    /* .products {
        padding: 4px 16px;
        display: flex;
        flex-direction: row;
        
       
      
    
    .products--item {
            width: 24%;
            margin-top: 12px;
            font-size: 10px;
          
        }
    } */
.products--item image{
    
    max-height: 50px;
}